body {
  background: linear-gradient(90deg, #d69eab 0%, #f0d7dd 100%);
  color: white;
}

.App {
  text-align: center;
  padding: 15px;
  opacity: 0.8;
  width: 80vw;
  margin: auto;
}

.App-fab {
  position: fixed !important;
  bottom: 50px;
  right: 50px;
}

@media only screen and (max-width: 700px) {
  .App {
    width: 95vw !important;
  }
}
