body {
  background: linear-gradient(90deg, #d69eab 0%, #f0d7dd 100%);
  color: white;
}

.App {
  text-align: center;
  padding: 15px;
  opacity: 0.8;
  width: 80vw;
  margin: auto;
  &-fab {
    position: fixed !important;
    bottom: 50px;
    right: 50px;
  }
  &-status:not(:last-child),
  &-status:last-child {
    margin-left: -12px !important;
    padding-left: 16px !important;
    padding-right: 24px !important;
  }
  &-status:not(:last-child) {
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  }
}

@media only screen and (max-width: 700px) {
  .App {
    width: 95vw !important;
  }
}
